@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.button {
    @apply py-2 gap-2 text-center w-40 h-10 bg-blue shadow-md rounded-full;
}
.bg-blue{
    background-color: #4F73D0;
}
.arrow-box{
    border: 1px solid #E7E7E7;
    border-radius: 24px;
}