<template>
  <v-container>
    <v-row>
      <v-col cols="6">
        <div class="flex items-center justify-between mb-5">
          <div class="flex items-center">
            <router-link :to="{ name: 'posts' }">
              <div class="rounded-full h-10 w-10 flex items-center justify-center ml-2 arrow-box">
                <i class="mdi mdi-arrow-left"></i>
              </div>
            </router-link>
            <span class="title ml-8">New post</span>
          </div>
          <!-- Submit button -->
          <v-btn @click="createPost" color="primary">Publish post</v-btn>
        </div>

        <v-form ref="formValidation">
          <div class="mb-3">
            <label class="form-label">Title</label>
            <v-text-field v-model.trim="title" :rules="titleRule"/>
          </div>
          <div class="mb-3">
            <label class="form-label">Description</label>
            <v-textarea v-model.trim="description" :rules="descriptionRule" rows="6"/>
          </div>
          <v-row align="center">
            <v-col>
              <v-text-field
                  v-model="newTag"
                  label="Add Tag"
                  @keyup.enter="addTag"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row align="center">
            <v-col v-for="(tag, index) in tags" :key="index" cols="auto">
              <v-chip closable="true" @click:close="removeTag(index)" color="primary" class="tag-chip">
                {{ tag }}
              </v-chip>
            </v-col>
          </v-row>
        </v-form>

      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import {ref} from "vue";
import axios from '@/plugins/axios';
import {POSTS} from '../../../constants/endpoints.js';

import {useToast} from "vue-toastification";

export default {
  setup() {
    const loading = ref(false);
    const toast = useToast();
    const title = ref('')
    const description = ref('')
    const tags = ref([])
    const newTag = ref('')
    const formValidation = ref(null);


    const titleRule = [
      v => !!v || 'Title is required'
    ];
    const descriptionRule = [
      v => !!v || 'Description is required',
      v => (v && v.length >= 10) || 'Description must be more than 10 characters',
    ];


    async function createPost() {

      const validationResult = await formValidation.value.validate();
      if (!validationResult.valid) {
        return
      }
      loading.value = true;
      axios
          .post(POSTS, {
            title: title.value,
            text: description.value,
            tags: tags.value,
            userId: 1,
            image: "http://placeimg.com/640/480/technics",
            likes: 17,
            publishDate: "2021-08-17T13:40:15.405Z",
          })
          .then(function () {
            toast.success("Post is successfully created", {
              timeout: 2000
            });
            loading.value = false;
          })
          .catch(function (error) {
            toast.error("Somethings wrong happened", {
              timeout: 2000
            });
          });
    }

    function addTag() {
      if (newTag) {
        tags.value.push(newTag.value);
        newTag.value = '';
      }
    }

    function removeTag(index) {
      this.tags.splice(index, 1);
    }
    return {title, description, tags,newTag, loading, createPost,addTag,removeTag, titleRule, descriptionRule, formValidation};
  },
};
</script>

<style>
.title {
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  color: #2d2d2d;
}
</style>
