<template>
  <v-container>
  <div class="flex items-center justify-between mb-12">
    <div class="search-box">
      <label for="search-input" class="search-label">
        <i class="mdi mdi-magnify search-icon"></i>
        <input type="text" id="search-input" placeholder="Search"
               class="search-input" v-model="search"
        @keyup="getPosts">
      </label>
    </div>
    <router-link class="button  flex items-center justify-center" :to="{ name: 'createPost' }">
      <span class="text-white">Add new post</span>
      <div class="bg-white rounded-full h-5 w-5 flex items-center justify-center ml-2">
        <i class="mdi mdi-plus"></i>
      </div>
    </router-link>
  </div>
  <div v-if="loading" class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
      <v-row>
        <v-col cols="12" sm="6" md="4" lg="3" v-for="post in posts" :key="post.id">
          <router-link :to="{ name: 'postId', params: { id: post.id } }" class="cursor-pointer">
            <div class="max-w-sm rounded overflow-hidden shadow-lg">
              <img class="w-full" :src="post.image" alt="Image Alt Text">
              <div class="px-6 py-4">
                <div class="font-bold text-xl mb-2">Title</div>
                <p class="text-gray-700 text-base">
                  {{post.text && post.text.length && post.text.length > 70 ? post.text.substring(0, 70) + '...' : post.text }}
                </p>
              </div>
              <div class="px-6 pt-4 pb-2">
                <span v-for="tag in post.tags"
                    class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">
                  {{tag}}
                </span>
              </div>
              <div class="d-flex items-center justify-between">
                <span class="text-xs">Publish Date: {{ post.publishDate }}</span>
                <span><i class="mdi mdi-heart"></i> {{ post.likes }}</span>
              </div>
            </div>
          </router-link>
        </v-col>
      </v-row>
    </v-container>

</template>

<script>
import axios from '@/plugins/axios';
import { POSTS } from '../../../constants/endpoints.js';
import {ref} from "vue";

export default {
  setup() {
    const posts = ref([]);
    const loading = ref(true);
    const search = ref(null);

    function getPosts() {
      let param = null
      if (search.value != null){
        param =   {
          params:  {
            'q' : search.value
          }
        }
      }
      axios.get(POSTS, param)
          .then(function (response) {
            posts.value = response.data;
            loading.value = false;
          })
          .catch(function (error) {
            console.log(error);
          });
    }

    getPosts();

    return {posts, loading,search,getPosts};
  },
};
</script>

<style>
.search-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 16px;
  gap: 8px;
  width: 316px;
  height: 40px;
  border: 1px solid #E7E7E7;
  border-radius: 24px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.search-input:focus {
  outline: none;
  box-shadow: none;
  border-color: #ccc;
}
</style>