<template>
  <v-container>
  <div v-if="loading" class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>

  <div v-else class="col-md-5">
    <v-row>
      <v-col cols="12" sm="6" md="4" lg="3">
        <div class="max-w-sm rounded overflow-hidden shadow-lg">
          <img class="w-full" :src="post.image" alt="Image Alt Text">
          <div class="px-6 py-4">
            <div class="font-bold text-xl mb-2">Title</div>
            <p class="text-gray-700 text-base">
              {{ post.text }}
            </p>
          </div>
          <div class="px-6 pt-4 pb-2">
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#photography</span>
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#travel</span>
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#winter</span>
          </div>
          <div class="d-flex items-center justify-between">
            <span class="text-xs">Publish Date: {{ post.publishDate }}</span>
            <span><i class="mdi mdi-heart"></i> {{ post.likes }}</span>
          </div>
        </div>
      </v-col>
    </v-row>
  </div>
  </v-container>
</template>

<script>
import axios from '@/plugins/axios';
import { POSTS } from '../../../constants/endpoints.js';
import { ref } from "vue";
import { useRoute } from "vue-router";

export default {
  setup() {
    const post = ref({});
    const loading = ref(true);
    const route = useRoute();

    function getPost() {
      axios
        .get(`${POSTS}/${route.params.id}`)
        .then(function (response) {
          post.value = response.data;
          loading.value = false;
        })
        .catch(function (error) {
          console.log(error);
        });
    }

    getPost();

    return { post, loading, route };
  },
};
</script>

<style>
</style>